a.board-green-btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  border: 1px solid var(--pi-page-green);
  border-radius: 30px;
  padding: 16px 36px 12px 72px;
  font-size: 16px;
  font-family: myriad-pro-bold;
  cursor: pointer;
  display: inline-block;
  background-color: var(--pi-page-green);
  background-image: url('../../assets/images/mother_board.png');
  background-position: left;
  background-repeat: no-repeat;
  color: var(--pi-page-white);
  text-decoration: none;
  min-width: 160px;
  text-align: center;
}

a.board-green-btn:hover {
  background-color: var(--pi-page-purple);
  color: var(--pi-page-white);
}

@media only screen and (min-width: 768px) {
  a.board-green-btn {
    padding: 20px 40px 16px 76px;
    font-size: 20px;
    min-width: 180px;
  }
}
