a.grey-btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  border: 1px solid var(--pi-page-semi-dark-grey);
  border-radius: 30px;
  padding: 16px 54px 12px 54px;
  font-size: 16px;
  font-family: myriad-pro-bold;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  color: var(--pi-page-semi-dark-grey);
  text-decoration: none;
  min-width: 160px;
  text-align: center;
}

a.grey-btn:hover {
  background-color: var(--pi-page-semi-dark-grey);
  color: var(--pi-page-white);
}

@media only screen and (min-width: 768px) {
  a.grey-btn {
    padding: 20px 54px 16px 54px;
    font-size: 20px;
    min-width: 180px;
  }
}
