.downloads-block-links {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@media only screen and (max-width: 767px) {
  .downloads-block {
    text-align: center;
    padding: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .downloads-block {
    text-align: center;
    padding: 20px;
  }
}